<div class="section">
  <div class="post-wrapper"> 
    <h2> Stuff, I've created </h2><hr>
    <div class= "colcontainer" >
      <% @projects.each do |project| %>
      <div  class= "project-col-3">

        <a href="artcile_show.html">
        <%= link_to( image_tag(project.image.url(:thumb)), project) %>
        </a>

	      <h2><a href="artcile_show.html">
          <%= link_to project.title, project %> 
        </a></h2>

      </div>
      <% end %>
      <hr>
    </div>

    <div class="pagination">
      <%= will_paginate @posts %>
    </div>

  </div>
</div>


