 <div class="aboutme">
    <div class="container">
    <h2>Get in Touch!</h2>
    <h3>Send me a message or give me a call and I will help you with you next project.</h3>

    <div class ="btn-green" href="mailto:mail@matthiascordes.com"</a>
    	<p> send a mail</p>
	</div>
    <div class="portrait">
      <img  src="img/portrait.jpg">
    </div>
  </div>