.post {
  padding: 40px 0px 0px 0px;
}

.post h2{
	margin: 0;
	text-align: center;
	font-size: 2em;
	font-weight: 700;
	text-transform: none;
}

.posts_wrapper{
  padding: 80px 0px;
}

.post a {
	text-decoration: none;
}

.post a:hover { 
    color: grey;
}

.date {
	font-size: 0.8em;
	color: #595959;
	margin: 0;
	padding: 0;
}

.form {

padding-top: 150px;
}

hr{
	width: 97%;
	max-width: 700px;
}

.headline {
	padding: 40px 0px 40px 0px;
	margin: auto;
	max-width: 700px;
	text-align: center;
}

.headline h2{
	margin: 10px;
	font-weight: 700;
	text-transform: none;
}

.content{
	text-align: left;
	display: inline-block;
	padding: 30px 5px 10px 5px;
	width: 700px;
	margin: 0;
}

.content p {
	line-height: 30px;
	font-size: 17px;
	font-weight: 300;
	color: rgb(51,51,51);
}

// - - - - - Pagination 

.pagination:before, .pagination:after {
	content " ";
	display: table;
};

.page a {
	padding: 5px 10px;
}

.pagination:after{
	clear: both;
	padding: .75em 5px;
}

.pagination a:hover, .previous_page:hover, .current:hover, .next_page:hover {
	background: #e6e6e6;
	color: grey;
}

.current{
	background-color: #333333;
	color: white;
	text-decoration: none;
	font-weight: 300;
	padding: 5px 10px;
}

.disabled {
	color: #C0C0C0;
	font-weight: 300;
	padding: 10px;
}

.disabled:hover {
	color: #C0C0C0;
	background: none;

}

.article i {
	display: block;
	padding: 40px;

}

.article h1 {
	font-size: 32pt;
	text-transform: none;
	font-weight: 600;
	width: auto;
	text-align: center;
	margin: 0;
}

.article h2 {
	font-size: 18pt;
	font-weight: 600;
	text-transform: none;
	width: auto;


}

.article h3 {
	font-size: 14pt;
	font-weight: 600;
	text-transform: none;
	width: auto;

}

label {
	padding: 10px;
	font-size: 14pt;
}

input{
	margin: 5px
}

textarea {
	margin: 40px;
	width: 95%;
	margin: 5px;
	padding: 0;
	height: 400px;
}

#post_title{
	margin: 40px;
	width: 95%;
	margin: 5px;
	padding: 0;
}