<!DOCTYPE html>
<html>
  <head>
  	<title>Matthias Cordes | Your Creative Partner</title>
  
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="/manifest.json">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
	<link href='https://fonts.googleapis.com/css?family=Oxygen:400,300,700' rel='stylesheet' type='text/css'>

	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
	<meta name="theme-color" content="#ffffff">
	<meta charset="utf-8"/>
 
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  	<header>
    <a href="index.html"> <img src="icons/logo.png"></a>
    <a href="index.html"><h1>Matthias Cordes</h1></a>
    <nav>
      <ul>
        <li><a href="portfolio.html">Portfolio</a></li>
        <li> <a><% link_to "Blog", posts_path %>Blog</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
    </nav>
    <a id="i-nav" href="#"><img src="icons/sidebar.png"></a>
  </header>

    <%= yield %>
  </body>
</html>
